In [1]:
import pylab
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
#pylab inline
%matplotlib inline
#%matplotlib notebook

In [10]:
data=[[0.9,0.8,0.3],[0.85,0.5,0.4]]

In [11]:
frame = pd.DataFrame(data)
frame

      0    1    2
0  0.90  0.8  0.3
1  0.85  0.5  0.4

In [22]:
versatilidade=[]
for i in range(0,len(frame.values[:,0])):
    homem=frame.values[i,:]
    versatilidade.append([sum(homem)/len(homem),i])
versatilidade.sort(reverse=True)
print(versatilidade)

[[0.6666666666666666, 0], [0.5833333333333334, 1]]